.homeWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 22px;
    width: 100%;
}

/* Delete this later */
.mainContent * {
    margin: .5rem;
}

.mainContent {
    display: block;
    max-width: 630px;
    width: 630px;
}

.feedSidebar {
    display: block;
    height: 100vh;
    padding-left: 64px;
    top: 0;
    width: var(--feed-sidebar-width);
}

.feedSidebarContent {
    display: flex;
    position: static;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    align-self: auto;
    margin-top: 36px;
    overflow: visible;
}