.App {
    display: flex;
    align-items: stretch;
}

.navbarWrapper {
    /* Layout */
    align-content: stretch;
    align-items: stretch;
    align-self: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100vh;
    justify-content: flex-start;
    overflow: visible;
    position: fixed;
    top: 0;
    width: var(--nav-medium-width);
    z-index: 10;
}

.navbar {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: var(--nav-medium-width);
    height: 100dvh;
    transform: matrix(1, 0, 0, 1, 0, 0);
    text-size-adjust: 100%;
    padding: 8px 12px 20px;
    border-right: 1px solid rgb(var(--separator));
}

main {
    display: block;
    margin-left: auto;
    width: calc(100% - var(--nav-medium-width));
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    min-height: 100vh;
}