.App {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: 'header' 'content' 'footer';
    gap: 0 1rem;
}

Navbar {
    grid-area: header;
}

Routes {
    grid-area: content;
}

Footer {
    grid-area: footer;
}